.announce-card {
  background: #ffffff0d;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid #ffffff25;
}

.announce-card input,
.announce-card textarea {
  width: 100%;
  padding: 10px;
  color: white;
  background: #ffffff15;
  border: 1px solid #ffffff25;
  border-radius: 8px;
  margin-bottom: 10px;
}

.announce-list {
  width: 100%;
  max-width: 500px;
}

.announce-item {
  background: #ffffff0f;
  border: 1px solid #ffffff22;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  backdrop-filter: blur(10px);
}

.announce-item h3 {
  margin: 0 0 5px 0;
}

.announce-item p {
  margin: 0;
}